<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Assignment_INF205_nhom5ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Hoang Nguyen\Desktop\Thư mục mới (2)\Assignment-Nhom5\WebSites\Assignment_INF205_Nhom5\App_Data\Assignment_INF205_nhom5.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>